.card {
  padding: 12px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin-bottom: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.title:hover {
  color: purple;
}
